
<h1 class="order_history"> Order History </h1>
<% @orders.each do |order| %>
    <%if order.status == "Purchased"%>
        <ul class="order_history">
            <li class="form"> Order Number: <%= order.id %>
                <div class="purchased"> Status: <%= order.status%> </div>
                Total Order Price: <%= number_to_currency(order.total_price)%> 
                <br>
                <%= button_to "View Order", order_path(order.id), method: 'get', class: "btn btn-outline-success" %> 
            </li>
        </ul>
    <% end %>
<%end %>
