<h1> Products </h1>
<div>
  <ul>
    <% @categories.each do |category| %>
      <br>
      <div class="category"> <%= category.capitalize %> </div>
      <% @items.each do |item| %>
        <%if item.category == category%>
          <br>
          <li> <%= link_to item.name, item_path(item) %> <%= number_to_currency(item.price) %> </li>
        <%end%>
      </li>
      <% end %>
    <%end%>
  </ul>
</div>