/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .header {
   background-color: #008060;
   color: white;
   text-align: right;
   font-family: Times, Times New Roman, serif ;
   /* vertical-align: baseline; */
   border-radius: 15px;
  }

  .search {
    display: inline-flex;
    text-align: right;
    margin-right: 5px;
 }

 .nav-buttons {
  display: inline-flex;
  padding: 12px;
  /* width: 45%;
  flex: 2; */
 }

 .welcome {
  font-size: 40px;
  text-align: center;
  padding: 5px;
  border: 0px;
  margin: 0px;
 }



a:link {
  color: rgb(30, 37, 29);
  text-decoration: none;
}

/* visited link */
.welcome a:visited {
  color: #FBF7ED;
  text-decoration: none;
}

/* mouse over link */
.welcome a:hover {
  color: #FBF7ED;
  text-decoration: none;
  cursor: pointer;
}

/* selected link */
a:active {
  color: black;
  text-decoration: none;
}

div.purchased {
  color: green;
}

div.pending {
  color: blue;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.footer_container {
  background-color: #008060;
  position: absolute;
  bottom: 0px;
  width: 99%;
  text-align: center;
  color: #FBF7ED;
  border-radius: 15px;
}

.footer_container a:visited {
  color: #FBF7ED;
  text-decoration: none;
}

.about{
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

.contact{
  display: inline;

  margin-left: 20px;
  margin-right: 20px;
}

li{ 
  list-style: none; 
} 

li::before{ 
  content: "\00BB"; 
  margin: 5px;
} 

 ul.All_Categories {
  -webkit-column-count: 3;  /* Chrome/Opera, Safari */
  -moz-column-count: 3; /* Mozilla Firefox */
  column-count: 3;
  
  /* Properties below are optional: */
  -webkit-column-gap: 50px; /* Chrome/Opera, Safari */
  -moz-column-gap: 50px; /* Mozilla Firefox */
  column-gap: 50px;
  
  -webkit-column-rule: 1px single grey; /* Chrome/Opera, Safari */
  -moz-column-rule: 1px single grey; /* Mozilla Firefox */
  column-rule: 1px single grey;
} 

.profile {
  float: right;
  margin-left: 5px;
  display: flex;
}