/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 body{
   background-color: rgb(230, 230, 230);
 }

 h2.make_account{
   margin-top: 75px;
 }

 div.info {
   display: inline-flex;
 }
.search {
    display: inline-flex;
    text-align: right;
    margin: 7px;
 }

nav a:link {
  color: white;
  text-decoration: none;
}

a:link.shop {
  color: rgb(30, 37, 29);
  text-decoration: none;
}

/* selected link */
a:active {
  color: black;
  text-decoration: none;
}

div.purchased {
  color: green;
}

div.pending {
  color: blue;
  text-align: right;
}

#pending-order.pending {
  text-align: left;
}


.footer_container {
  background-color: #1F2F39;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: #FBF7ED;
  font-size: 12px;
}

.footer_container a:visited {
  color: #FBF7ED;
  text-decoration: none;
}

.about{
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

.contact{
  display: inline;

  margin-left: 20px;
  margin-right: 20px;
}

li{ 
  list-style: none; 
} 

li::before{ 
  content: "\00BB"; 
  margin: 5px;
} 

 ul.All_Categories {
  -webkit-column-count: 3;  /* Chrome/Opera, Safari */
  -moz-column-count: 3; /* Mozilla Firefox */
  column-count: 3;
  
  /* Properties below are optional: */
  -webkit-column-gap: 50px; /* Chrome/Opera, Safari */
  -moz-column-gap: 50px; /* Mozilla Firefox */
  column-gap: 50px;
  
  -webkit-column-rule: 1px single grey; /* Chrome/Opera, Safari */
  -moz-column-rule: 1px single grey; /* Mozilla Firefox */
  column-rule: 1px single grey;
} 

.profile {
  margin-top: 10px;
}

.form {
  display: block;
  border: 2px solid #008060;
  padding: 2rem;
  text-align: center;
  width: 500px;
  margin: auto;
  margin-top: 70px;
  border-radius: 25px;
}

li.form {
  margin: 5px;
  text-align: center;
  padding: 15px;
  width: 300px;
  background-color: rgb(230, 230, 230);
}

// wishlist css
.wishlist-ul {
  padding: 0px;
}
.wishlist-title {
  text-align: left;
}

.items-on-wishlist {
  text-align: left;
}

#delete-wishlist {
  float: right;
}

#wishlist-form {
  width: 600px;
}
#select-wishlist {
  width: 100%;
}

#new_wishlist.new_wishlist {
  font-size: 18px;
}
#wishlist_name.form-control {
  display: inline-block;
  width: 50%;
  margin-bottom: 10px;
}

.wishlist-form {
  display: inline-flex;
  margin-top: 15px;
}

// wishlist css end


#item-form {
  padding: 3rem;
}


// Order css
ul.order_history {
  padding: 0%;
  margin: 5px;
  margin-left: 15px;
  padding: 15px;
  width: 350px;
  background-color: #2a3c47;
  border: 2px solid rgb(230, 230, 230);
  border-radius: 25px;
}

h1.order_history {
  margin-top: 25px;
  margin-left: 75px;
}

#add-order-button {
  float: left;
  margin-top: 15px;
}

h1.current_order {
  margin-left: 110px;
}
div.my_order {
  float: right;
  width: 750px;
  margin-top: 30px;
}
div.my_orders {
  float: left;
}

div.order_number {
  text-align: left;
  font-size: large;
  font-weight: bolder;
}

div#order.form {
  padding-top: 5px;
  padding: 10px;
  text-align: right;
  width: 450px;
  margin: 15px;
}

div.items_order {
  text-align: left;
}

ul.item_hash {
  padding-left: 0px;
  font-size: small;
}

div.price {
  text-align: right;
  font-weight: bold;
}

#view_pending_order {
  text-align: right;
}
// end of order index page

// order show page

.order-item-list {
  text-align: left;
}

.order-ul {
  padding: 0%;
}

#back-to-orders {
  float: left;
}

#order-form.form {
  width: 550px;
}
//